[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-lzo = "*"
python-daemon = "*"
pyqt5 = "*"
pyqtwebengine = "*"
fire = "*"
beautifulsoup4 = "*"
lxml = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"

[requires]
python_version = "3.6"
