[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
python-daemon = "*"

[packages]
python-lzo = "*"
pyqt5 = "*"
pyqtwebengine = "*"
fire = "*"
beautifulsoup4 = "*"
lxml = "*"

[requires]
python_version = "3.8"
